.dish-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dish-description {
    color: #000;
    text-align: center;
    font-family: 'Helvetica Neue';
    font-size: 24px;
    font-style: normal;
    font-weight: 200;
    line-height: 30px;
    letter-spacing: 1.97px;
    margin-bottom: 8px;
    flex-grow: 1;
}

.dish-icon {
    margin-top: 8px;
    margin-bottom: 8px;
    max-width: 40px;
    max-height: 31px;
}

.dish-price-container {
    display: flex;
    align-items: center;
}

.dish-price {
    color: #000;
    font-family: 'Helvetica Neue';
    font-size: 24px;
    font-style: normal;
    font-weight: 200;
    line-height: 30px;
    letter-spacing: 1.97px;
    margin: 0 8px;
}

.dish-divider {
    width: 112px;
    height: 0.5px;
    flex-grow: 1;
    height: 0.5px;
    background: #979797;
}