
@import '../LayoutContainer/LayoutContainer.module.scss';

.restaurant-chef {
  color: #000;
  font-family: Helvetica Neue;
  font-size: 24px;
  font-style: normal;
  font-weight: 200;
  line-height: 30px;
  /* 125% */
  letter-spacing: 1.97px;
  margin-bottom: 8px;
  margin-top: 8px;
  }
  .rating-img {
    display: none;

    @include desktop {
      display: block;
    }
}