
@import '../LayoutContainer/LayoutContainer.module.scss';

.restaurant-chef {
  color: #000;
  font-family: Helvetica Neue;
  font-size: 16px;
  font-style: normal;
  font-weight: 200;
  letter-spacing: 1.97px;
  line-height: 30px;

  @include desktop {
    font-size: 24px;
  }
  }
  .rating-img {
    display: none;

    @include desktop {
      display: block;
    }
}