@import '../LayoutContainer/LayoutContainer.module.scss';

.card-section {
  height: auto;
  position: relative;

  .card {
    height: 100%;
  }

  .more-button {
    position: absolute;
    width: 100%;
    color: #000;
    font-family: Helvetica Neue;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 2px;
    text-transform: capitalize;
    padding: 10px 10px;

    @include desktop {
      width: 100%;
      font-size: 24px;
      position: absolute;
      padding-top: 25px;
    }

    img {
      width: 24px;
      height: 24px;
      margin-left: 14px;
    }
  }
}
