@import '../LayoutContainer/LayoutContainer.module.scss';

.footer {
    margin-top: 30px;
    margin-bottom: 30px;
    gap: 20px;

    color: #000;
    font-family: Helvetica Neue;
    font-size: 18px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    letter-spacing: 1.92px;
    display: flex;
    flex-direction: column;

    @include desktop {
        display: flex;
        justify-content: center;
        flex-direction: row;
        max-width: 1440px;
        max-height: 85px;
        padding-top: 20px;
        padding-bottom: 31px;
    }
}

.footer-subtitle {
    margin: 0 20px;
}