.footer {
    max-width: 1440px;
    max-height: 85px;
    padding-top: 20px;
    padding-bottom: 31px;

    color: #000;
    font-family: Helvetica Neue;
    font-size: 18px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    letter-spacing: 1.92px;
    display: flex;
    justify-content: center;
}

.footer-subtitle {
    margin: 0 20px;
}